<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99560161403-dt3cc2a6t7dtfripjfgpgr3e4g4ethnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99560161403-dt3cc2a6t7dtfripjfgpgr3e4g4ethnr</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ZmYBelRewd97tZOXBEwlsmtwSlIta3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>99560161403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dnbapp</string>
	<key>PROJECT_ID</key>
	<string>jumpcoeur</string>
	<key>STORAGE_BUCKET</key>
	<string>jumpcoeur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99560161403:ios:d5a2c2f611b9792e5a22de</string>
</dict>
</plist>